/* -----Begin global (site-wide) styles ------ */
body {
  font-family: 'Roboto', sans-serif;
  color: #333; /* dark gray */
}

img {
  max-width: 100%;
  max-height: auto;
}

/* Changes how browsers calc width. '*' calls for all elements to be affected */
* {
  box-sizing: border-box;
}
a {
  color: $myLightBlue;
}
/* ------------ End global styles ----------> */
