.temp {
  /*background-image: url('../../resources/images/sprites/sprite-4475c9b8.svg'); */
  background-color: red;
  width: 23.23px;
  height: 44.01px;
  background-position: 78.3509377651637% 52.95731184639122%;

}
