.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $myDarkBlue;
  opacity: 0; /* invisible and hidden... */
  visibility: hidden; /* on page load */
  transform: scale(1.2); /* allows for a nice...*/
  transition: all .3s ease-out; /* fade and zoom when we go to visible */

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1); /* the other end of that zoom effect, above */
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__headline {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1.3rem;
    margin-top: 0;


    @mixin atSmall {
      font-size: 4rem;
    }
  }

  &__description {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2); /* widen it a little */
    transform-origin: 100% 0; /* move it a bit to the left */
    color: $myDarkBlue;
    cursor: pointer;

    &:hover {
      color: $myOrange;
    }
  }
}
