.projects {
   &__title {
     font-size: 4rem;
     font-weight: 100;
     text-align: center;
     padding: 2rem 0;

     @mixin atMedium {
       font-size: 6rem;
     }
   }

   &__featured-project {
     width: 85%;
     max-width: 1200px;
     margin: 0 auto;
   }

   &__featured-description {
     font-size: 1.2rem;
     font-weight: 300;
     margin: 0 auto;
     width: 85%;
   }

   &__featured-title {
     font-size: 2.5rem;
   }

   &__other-projects {
     background-color: $myBeige;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     padding: 50px 0;


   }
}

.a-project {

  margin: 0 auto;

}
