.temp {
  background-image: url("../../resources/images/sprites/sprite-b3a0d22b.svg");
  background-color: red;
  width: 44.01px;
  height: 44.01px;
  background-position: 61.61292903432275% 98.52216748768471%;

}
